*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

}

form{
  display: flex;
}

form input{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: #fff;
  width: 100%;
}

.listTask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
}

.task{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-text{
  display: block;
  min-width: 100px;
  width: 400px;
}

.task-button{
  min-width: 100px;
  display: flex;
}





button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 1em; /* Reducir el tamaño de fuente para pantallas más pequeñas */
  }
}
